a {
    color: #2B4180;
}

.tag {
    border: 1px solid #46A5ED;
    color: #46A5ED;
    border-radius: 28px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    margin: 4px;
    height: 24px;
    line-height: 24px;
}

.tag:hover {
    border: 1px solid #0085a1;
    color: #0085a1;
}

.tag-wrapper {
    margin-top: -10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}
